* {
  margin: 0;
  padding: 0;
}

.navbar{
    padding: 40px ;
}

.navdiv{
    margin-left: 40vw;
}
.navdiv >ul >li >a{
    color: #0000;
    font-size: 15px;
    font-weight: 500;

}
.abox{
    width:55%;
}
.h h2{
    position: relative;
    left:-30px;
    font-size: 48px;
}
#cars{
    width: 100%;
    height:4.3vh;
    position: relative;
    right: -30px;
}

.bbox{
    width:60%;
}
.search1{
    width:100%;
    
}
.img1{
    width:4vw;
    height:3.5vh;
    position:relative;
    left:360px;
    top:-30px;
}
.cbox{
    width:60%;
}
.search2{
    width:87%;
    position: relative;
    left:-30px;
}
.img2{
    width:4vw;
    height:3.5vh;
    position:relative;
    left:260px;
    top:-30px;

}


    



.dropdown:hover .dropdown-content {display: block;}
ul {
  list-style: none;
}
.menu {
    padding: 70px;
    background-color: black;
    color:white;
    font-size: 15px;
    font-weight: 600;
    padding-left: -90px;
}

a {
  text-decoration: none;
  color: #535353;
  font-size: 13px;
  text-align: left;
  line-height: 19px;
  font-weight: normal;
}

.card{
    width: 17rem;
    height: 22rem;
    margin: 20px 15px;
}
.card-title{
    margin: 10px 20px;
    padding: 0 10px;
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    font-weight: bold;
    overflow: hidden;
}
.card>img{
    width: 100%;
    height: 100%;
    padding: 50px 10px;
    /* border: 1px solid ; */
}

.card-body{
    display: flex;
   flex-direction: column;
   margin-bottom: 10px;
}

.card .btn{
padding: 10px 10px;
background-color: #60bf86;
color: #fff;
text-transform: uppercase;
text-align: center;
cursor: pointer;
}

.channel{
    font-size: large;
}
.channel> li {
    margin: 5px;
}
@media screen and (max-width:450px){
    .search1{
        width:100%;
    }
    .search2{
        width:100%;
        margin-left: 30px;
        position: relative;
        top:-25px;
    }
    #cars{
        width:240px;
        position: relative;
        top:-28px;
        left:0px;
        height: 5vh;
    }
    .img1{
         position: relative;
        left:220px;
        height: 3.5vh; 
        

    }
    .img2{
        position: relative;
        left:214px;
        height: 3.9vh;
        


    }
    .h h2{
        font-size: 12px;
        position: relative;
        left:-40px;
    }
    ul li{
        font-size: 8px;
        height: 0vh;
        position: relative;
        left:-30px;
    }
    .ibox{
        height:100vh;
    }
    .qbox{
        background-color: white;
    }
    .zbox{
        height:80vh;
        
    }
    .pt-2{
        height:30vh;
        margin-top:-124px;
    }
}
@media screen and (max-width:360px){
    .search1{
        width:240px;
    }
    .search2{
        width:240px;
        margin-left: 30px;
    }
    #cars{
        width:240px;
        position: relative;
        top:-28px;
        left:0px;
        height: 5vh;
    }
    .img1{
        position: relative;
        left:220px;
        height: 3.5vh;

    }
    .img2{
        position: relative;
        left:220px;
        height: 3.9vh;


    }
}
@media screen and (max-width:768px){
    .search1{
        width:240px;
    }
    .search2{
        width:240px;
        margin-left: 30px;
    }
    .card-img-top1{
    margin-left: -55px;
    width:3vh;
    }
    .card-img-top2{
    margin-left: -10px;
    width:2vh;
    }
    .card-img-top3{
    margin-left: -8px;
    width:2vh;
    }
    .card-img-top4{
        margin-left: -55px;
        width:3vh;
    }
    .card-img-top5{
    margin-left: -10px;
    width:2vh;
    }
    .card-img-top6{
    margin-left: -8px;
    width:2vh;
    }
    #cars{
        width:240px;
        position: relative;
        top:0px;
        left:0px;
        height: 5vh;
    }
    .img1{
        visibility: hidden;

    }
    .img2{
        visibility: hidden;
       


    }

}
@media screen and (max-width:1024px){
    .img1{
        position: relative;
        left:230px;
        height:3.5vh;
    }
    .img2{
         position:relative;
         left:230px;
         height:3.5vh;
        }
    }

